<article class="row justify-content-end">
    <section class="col-2 col-md-1">
      <a mat-fab color="primary" routerLink="/facturas" title="Ir a Lista de Facturas">
        <mat-icon >folder</mat-icon>
      </a>
    </section>
  
  </article>
  <article *ngIf="checkin">
    <section class="row justify-content-center">   
        <mat-card  class="mat-elevation-z8">
          <mat-card-header class="row">	
          <div class="col-7">
              <img mat-card-image [src]="api_img+checkin.url_image">
          </div>								    	
          <mat-list class="col-4">
              <mat-list-item>					    	
                <h4 mat-line>{{checkin.date}}</h4>
              <small mat-line> Fecha</small>
              
              <h4 mat-line *ngIf="checkin.total; else total">$ {{checkin.total}}</h4>
              <ng-template #total>
                <h4 mat-line>$ (Sin asiignar) </h4>
              </ng-template>	
              <small mat-line> Total</small>
            </mat-list-item>
          </mat-list>
                  
          </mat-card-header >    
            <mat-card-content class="col-12 ">
              <mat-list *ngIf="tools.length; else other"  >
                <h2 mat-subheader>Herramientas </h2> 

                  <mat-list-item *ngFor="let tool of tools">
                    <mat-icon mat-list-icon>build</mat-icon>
                    <h4 mat-line>{{tool.name | titlecase}} </h4>
                    <h4 mat-line>{{tool.pivot.tool_total }}</h4>
                    <p mat-line> {{tool.barcode | titlecase}}</p>	
                  </mat-list-item>
              </mat-list>	
              <ng-template #other>
                <mat-list >
                  <h2 mat-subheader>No hay Herramientas vinculadas</h2>				  	
                </mat-list>	
              </ng-template>
            </mat-card-content>	         
        </mat-card> 
    </section>							
  </article>