<article fxLayout="column" fxLayoutAlign="center center">
	<section fxFlex="20" dir="rtl">
		<button mat-icon-button (click)="cancel()">
			<mat-icon>clear</mat-icon>
		</button>
	</section>

	<section fxFlex="80">
	<form [formGroup]="passwordForm" novalidate >
		<mat-form-field  class="simple-container">
			<mat-label>Nueva Contraseña</mat-label>          
			<input matInput type="password"  formControlName="password" autofocus>
			<!-- <mat-icon  matPrefix class="prefix">vpn_key</mat-icon>  -->  
			<mat-error *ngFor="let validation of validation_messages.password">
				<mat-error *ngIf="passwordForm.get('password').hasError(validation.type) && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
				{{validation.message}} 
				</mat-error>
			</mat-error>
		</mat-form-field>
		<mat-form-field  class="simple-container">
			<mat-label>Confirma Contraseña</mat-label>          
            <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="password_confirm"  [errorStateMatcher]="parentErrorStateMatcher" required>
			<!-- <mat-icon  matPrefix class="prefix">vpn_key</mat-icon> -->   
			<mat-error *ngFor="let validation of validation_messages.password_confirm">
              <mat-error  *ngIf="passwordForm.hasError(validation.type) || passwordForm.get('password_confirm').hasError(validation.type) && (passwordForm.get('password_confirm').dirty || passwordForm.get('password_confirm').touched)">
              {{validation.message}}
          		</mat-error>	 
				
			</mat-error>
		</mat-form-field>	
	</form>
	</section>
	<section class="center-text">	    
	    <button mat-stroked-button 
	    		color="primary" 
	    		[disabled]="!passwordForm.valid"
	    		(click)="accept()">Cambiar 
	    </button>
	</section>
</article>