<article class="row"> 
  <section class="col-12">
    <small>Categorias</small>
  </section>
  <section class="col-11">
    <ngx-slick class="carousel " #slickModal="slick-modal" [config]="slideConfig">      
      <mat-card ngxSlickItem 
                *ngFor="let c of Categories | async; let i = index" 
                class="mat-elevation-z8 list-card slide"               
                (mouseleave)="mouseLeaving(i)">
        <mat-card-header class="row justify-content-center"> 
          <mat-card-title *ngIf="isSelected===i; else other">              
              <h4>{{c.name| titlecase}}</h4>              
          </mat-card-title>
          <ng-template #other>
              <mat-card-subtitle>
                  <h4>{{c.name| titlecase}}</h4>    
              </mat-card-subtitle>
          </ng-template>
          <mat-card-subtitle>
            <button mat-icon-button (click)="open(i)" class="col-3">
              <mat-icon *ngIf="isHovering===i; else more">expand_less</mat-icon>
              <ng-template #more>
                  <mat-icon>expand_more</mat-icon>
              </ng-template> 
            </button>
            <button mat-icon-button disabled class="little-space col-3">
              <mat-icon matBadge="{{c.tools_coutn}}" matBadgePosition="above after">
                build
              </mat-icon>
            </button>             
            <button mat-icon-button class="little-space col-3" (click)="selectCategory(i, c)" >
              <mat-icon [ngClass]="isSelected===i ? 'color-accent' : 'color-disable' ">
                check_circle_outline
              </mat-icon>
            </button> 
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="isHovering===i">       
                         
          <small> Material:</small>	
          <h6  *ngIf="c.material, else material">{{c.material| titlecase}}</h6>
          <ng-template #material>
              <h6 >---</h6>
          </ng-template>

          <small > Descripcion:</small>
          <h6  *ngIf="c.description, else description">{{c.description| titlecase}}</h6>
          <ng-template #description>
              <h6 >---</h6>
          </ng-template>

          <small > Minimo stock:</small>	
          <h6  *ngIf="c.min_stock, else minstock">{{c.min_stock}}</h6>
          <ng-template #minstock>
              <h6 >Cero (0)</h6>
          </ng-template>            
        </mat-card-content>
      <mat-card-actions *ngIf="isHovering===i">
        <div class="row justify-content-center">
            <div>
              <button mat-icon-button class="color-warning little-space" 
                (click)="openFormCategory(c)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>				
            <div>
              <button mat-icon-button class="color-danger little-space" 
                        (click)="deleteCategory(c)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>				
          </div>
      </mat-card-actions>
    </mat-card> 
  </ngx-slick>
</section>

  <section class="col-1 align-self-start">
    <a mat-fab color="primary" (click)="openFormCategory()">
      <mat-icon matBadge="+" matBadgePosition="below after">assignment</mat-icon>
    </a>
  </section> 
</article>
