
<article class="row justify-content-end">
	<section class="col-1 offset-sm-2">
		<a mat-fab color="primary" routerLink="/empleados/crear">
			<mat-icon>person_add</mat-icon>
		</a>
	</section>
</article>

<article class="row justify-content-center justify-content-sm-start" > 	
	<mat-card *ngFor="let user of users"
		class="mat-elevation-z8 list-card col-lg-3 col-sm-5 col-8" >
		<div class="row justify-content-center">
			<img class="card-image" [src]="api_img+user.img_url">
		</div>
		<mat-card-header class="row justify-content-center">
			<mat-card-title class="card-title col-12">
				{{user.name| titlecase}}
			</mat-card-title>
			<mat-card-subtitle class="col-12">
				{{user.last_name| titlecase}}
				<small> 
					( {{user.rol| titlecase}} )
				</small>
			</mat-card-subtitle>			    
		</mat-card-header>		  	  
		<mat-card-content>
			<div class="row justify-content-center">									
				<button mat-icon-button class="color-warning little-space col-2" 
									routerLink="/empleados/editar/{{user.id}}"
									title="Editar a {{user.name}}">
					<mat-icon>edit</mat-icon>
				</button>	
				<button mat-icon-button class="color-accent little-space col-2" 
									routerLink="/empleados/detalle/{{user.id}}"
									title="Ver mas de {{user.name}}">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-icon-button class="color-danger little-space col-2" 
									(click)="deleteUser(user, $index)"
									title="Eliminar a {{user.name}}">
					<mat-icon>delete_forever</mat-icon>
				</button>
			</div>							
		</mat-card-content>
	</mat-card>		
</article>

